<% layout( 'layout' ) -%>
 
<h1><%= title %></h1>
<form action="/create" method="post" accept-charset="utf-8">
  <input type="text" name="content" />
</form>

<% todos.forEach(function(todo) { %>
  <div>
    <p><%= todo.content %></p>
    <a href="/edit/<%= todo._id %>" title="Update this todo item">Update</a>
    <a href="/destroy/<%= todo._id %>" title="Delete Item">Delete</a>
  </div>
<% }); %>
